@model NerdDinner.DataStructures.PaginatedList<NerdDinner.Models.Dinner>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upcoming Dinners</h2>

<ul>
    @foreach (var item in Model) {
        <li>
            @Html.ActionLink(item.Title, "Details", new { id = item.DinnerId  })
            on
            @Html.DisplayFor(model => item.EventDate)
        </li>
    }
</ul>

@if (Model.HasPreviousPage)
   {
       @Html.RouteLink("<<<", "UpcomingDinners", new {page = (Model.PageIndex - 1)});
   }
   @if (Model.HasNextPage)
   {
       @Html.RouteLink(">>>", "UpcomingDinners", new {page = (Model.PageIndex + 1)});
   }
