@model IEnumerable<NerdDinner.Models.Dinner>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upcoming Dinners</h2>

<ul>
    @foreach (var item in Model) {
        <li>
            <a href="/Dinners/Details/@item.DinnerId">@item.Title</a>
            on
            @Html.DisplayFor(model => item.EventDate)
        </li>
    }
</ul>

